{
  "port": 4443,
  "users": {
    "john": "..."
  },
  "tasks": {
    "pull-example": {
      "users": ["*"],
      "commands": [
        "cd /your/directory",
        "git pull origin main"
      ]
    },
    "another-task": {
      "users": ["john"],
      "commands": [
        "cd /your/directory",
        "ls -l"
      ]
    }
  }
}